.opciones-navegacion li a:hover {
    color: #00d2ff !important;
    border-bottom: 1px solid #00d2ff !important;
}

.hero-section {
    position: relative;
    height: 100vh;
    background: url("https://images.pexels.com/photos/5380664/pexels-photo-5380664.jpeg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
}

.hero-section .hero-content {
    position: relative;
    z-index: 1;
    max-width: 700px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(110deg, #000, #00d2ff);
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.hero-section .hero-content.visible {
    opacity: 1;
    transform: translateY(0);
}

.hero-section .hero-content .btn-custom {
    background: linear-gradient(45deg, #00d2ff, #3a7bd5);
    border: none;
    color: #fff;
    font-weight: bold;
}

.hero-section .hero-content .btn-custom:hover {
    opacity: 0.8;
}