#navigation {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    flex-wrap: wrap;
}

#navigation a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

#navigation a:hover {
    text-decoration: underline;
    color: #cdcdcd
}

/* COMIENZA ESTILOS PARA HERO */

.hero {
    height: 100vh;
    background: url("https://images.pexels.com/photos/4974912/pexels-photo-4974912.jpeg") no-repeat center center/cover;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #fff
}

.hero .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.hero .hero-content {
    max-width: 80%;
    position: relative;
    z-index: 99;
}

.hero .hero-content h1 {
    font-size: 3rem;
    text-align: center;
}

.hero .hero-content .hero-location {
    display: flex; /* permite que los elementos sean flexibles*/
    align-items: center; /* permite centrar el contenido de manera vertical */
    text-align: center; /* permite alinear el texto*/
    justify-content: center; /* permite centrar el contenido de manera horizontal */
    gap: 1rem; /* Da un espacio entre los elementos*/
}

.hero .hero-content .hero-location .hero-location-icon {
    font-size: 2rem;
}

.hero .hero-content .hero-action {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.hero .hero-content .hero-action .btn-contact {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.hero .hero-content .hero-action .btn-contact:hover {
    background-color: #fff;
    color: #000;
}


/* RESPONSIVE DESIGN */

@media (max-width: 750px) {
    #navigation {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero .hero-content .hero-location .hero-location-icon {
        font-size: 1rem;
    }
}
