.opciones-navegacion li a:hover {
    color: #00d2ff !important;
    border-bottom: 1px solid #00d2ff !important;
}

.hero-section {
    position: relative;
    height: 100vh;
    background: url("https://images.pexels.com/photos/5380664/pexels-photo-5380664.jpeg") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

.hero-section .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
}