.hero-section {
    height: 80vh; /* Ajustas la altura según el diseño */
    min-height: 400px;
}

.btn-scroll-top {
    width: 50px;
    height: 50px;
    background-color: brown;
    border-radius: 100%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 5;
}